@model IEnumerable<AspNetGroupBasedPermissions.Models.job_applied>

@{
    ViewBag.Title = "AppliedForJob";
}

<h2>AppliedForJob</h2>

<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
           
            @Html.ActionLink("View Profile", "JobseekerProfile", new { id=item.Id }) |
            @Html.ActionLink("Send Message", "SendMessage", new { id = item.Id }) 
        </td>
    </tr>
}

</table>
