
@{
    ViewBag.Title = "InterviewTips";
}

<h2>InterviewTips</h2>
<div>
    <br />
    <p>
        Interview Tips Section is classified into four Sections

        <b>  a) Things to do Before Appearing for an Interview</b>

        <b>b) Checklists Before Leaving to the Interview</b>

        <b> c)Things to do After you Arrive for the Interview</b>

        <b> d) Tips for Exceling in an Interview.</b>

        After lot of research, We have classified all the below
        four sections in a logical order in which candidates should approach any Interview.
        This section will help candidates appearing for Campus Interview,
        Off-Campus, Walk-In, Government Interview, Direct Interviews across anywhere in the World.
        Also check typical Interview Question and Answers from
        us to face Interviews. All the very best.
    </p>
    <br />
    <br />

    <b>
        <ul>
            <li>Things to do Before Appearing for an Interview</li>
            <br />
            <li>Checklists Before Leaving to the Interview</li>
            <br />
            <li>Things to do After you Arrive for the Interview</li>
            <br />
            <li>Tips for Exceling in an Interview</li>
        </ul>
    </b>
    <br />
    <h2> Things to do Before Appearing for an Interview</h2>
    </p>
    <br />
    <p>
        Before appearing for any Interview make certain to do the following things. The below list will help you prepare well for the Interview and increase your
        chances to clear the Interview.
    </p>
    <br />
    <br />
    <p>
        <b>1. Analyze the Role for which you are applying</b>
    </p>
    <br />
    <p>
        Read the responsibilities of the role and think through how you would fit into that role. Think through the operational aspects involved with the role.
        Find out your strength which will help you perform well in the role. Highlight that strength in the Interview and make certain to the Interviewers that you
        are the right fit for the role. Analyzing about the role will help you answer the Interviewer question around "What do you know about this role?"
    </p>
    <br />
    <br />
    <p>
        <b> 2. Research about the Company</b>
    </p>
    <br />
    <p>
        Go through the company website to find out "what they are doing for business". Identify the products/services that the company offers. Read through the
        company's mission and vision statements. Read the latest news about the company to see where they are headed, read about their leadership team, their key
        customers, and shareholders. This preparation will help you to clearly know about the company for which you are applying. Researching about the company
        will help answer the question around "What do you know about our company?"
    </p>
    <br />
    <br />
    <p>
        <b> 3. Research about the Team</b>
    </p>
    <br />
    <p>
        Find out people who work in the team for which you are interviewed. If possible, try to know about the team and the role by speaking with one of the team
        members. You can connect with the team members through LinkedIn/Facebook/other social networks. Speaking with team members will give you very good idea
        about the things that you would do in the new role. Speaking with the team members can be highlighted in the Interview and that can be used to demonstrate
        your keen interest in the job. Interviewer would view this as a positive thing and you will have good chances of clearing the Interview. If possible, try
        to get referral from the team members which will further increase the chances of clearing the Interview.
    </p>
    <br />
    <br />
    <p>
        <b> 4. Know your Resume/CV</b>
    </p>
    <br />
    <p>
        Make certain to go through the version of the resume that you shared with the Interviewer. You might have several versions of the resume, make certain to
        read through the correct version before appearing for the Interview. Many times Interviewers find that candidates do not know what they have written in the
        resume. Be prepared to answer any question that the Interviewer might have on any line in your resume. If you are not confident of explaining any item in
        the resume, then it is better to remove that before applying for a job.
    </p>
    <br />
    <br />
    <p>
        <b> 5. Write-up for standard Interview Questions</b>
    </p>
    <br />
    <p>
        Have a clear write up for typical Interview Questions like "Tell me about yourself", "Strengths and weakness" etc. The write-up will help you structure the
        way you want to present yourself. Writing a proper response would give lot of confidence before facing the Iinterview.
    </p>
    <br />
    <br />
    <p>
        <b> 6. Attend Mock-Interview</b>
    </p>
    <br />
    <p>
        If possible, try to attend a Mock Interview. You can even ask your friends to conduct a mock interview. Also, read through important Interview questions
        that you might face in an Interview.
    </p>
    <br />
    <br />
    <p>
        <b> 7. Decide on the Dress</b>
    </p>
    <br />
    <p>
        Make certain to wear a neatly pressed formal shirt and trousers. Ensure that the dress is a good fit and is not a discomfort for you. Try to have some nice
        perfume to smell good.
    </p>
    <br />
    <br />
    <p>
        <b>  8. Identify the Logistics</b>
    </p>
    <br />
    <p>
        Do some research on the route to get to the office. Identify how much time it would take through different mode (like bus, car, train, air, bike etc.) to
        get to the office. Plan your logistics in such a way to get to the office at least 15-20 minutes prior to the scheduled Interview Time. Arriving on time
        demonstrates your "Punctuality". Remember that arriving on time is the first impression that you create with the employer.
    </p>
    <br />
    <br />
    <p>
        <b>   9. What to ask?</b>
    </p>
    <br />
    <p>
        Prepare the question that you would ask the Interviewer when you get a chance to ask them a question.
    </p>
    <br />
    <br />
    <p>
        <b> 10. Have a Nice Hair Cut before the Interview.</b>
    </p>
    <br />
    <br />
    <p>
        <b>  11. Sleep Well - </b>have at least 8 hours of sleep before the day of your Interview.
    </p>
    <br />
    <br />
    <p>
        <b>  12. Carry 2 Copies of your Resume to the Interview.</b>
    </p>
    <br />
    <br />
    <p>
        13. Have a <b>Mouth Freshener</b> before entering the Interview.
    </p>
    <br />
    <br />
    <p>
        <h2> Checklists Before Leaving to the Interview</h2>
    </p>
    <br />
    <p>
        1. 2 copies of resume
    </p>
    <br />
    <p>
        2. Copy of education and experience letters
    </p>
    <br />
    <p>
        3. Neatly pressed shirts and trousers
    </p>
    <br />
    <p>
        4. Carry a Mouth freshener
    </p>
    <br />
    <p>
        5. Plan to arrive 15 minutes prior to the Interview
    </p>
    <br />
    <p>
        6. Appear confident
    </p>
    <br />
    <p>
        7. Make certain to have the cell phone in silent mode
    </p>
    <br />
    <br />
    <p>
        <h2>  Things to do After you Arrive for the Interview</h2>
    </p>
    <br />
    <p>
        1. Carry a pleasant smile
    </p>
    <br />
    <p>
        2. Greet all the people whom you meet
    </p>
    <br />
    <p>
        3. Remember the names of people whom you meet
    </p>
    <br />
    <p>
        4. Be firm when you shake hands
    </p>
    <br />
    <p>
        5. Don't be afraid to say "I don't know"
    </p>
    <br />
    <p>
        6. Be positive
    </p>
    <br />
    <p>
        7. Show your interest to learn new things
    </p>
    <br />
    <p>
        8. Listen carefully
    </p>
    <br />
    <br />
    <p>
        <h2> Tips for Exceling in an Interview</h2>
    </p>
    <br />
    <p>
        1. Have a very pleasant smile while entering the Interview room.
    </p>
    <br />
    <p>
        2. Greet the Interviewers.
    </p>
    <br />
    <p>
        3. Have a firm handshake.
    </p>
    <br />
    <p>
        4. Carry 2 copies of your resume.
    </p>
    <br />
    <p>
        5. Appear very confident. Try not to fumble.
    </p>
    <br />
    <p>
        6.Listen to the questions carefully. Always think through the response and structure it like a nice sales pitch.
    </p>
    <br />
    <p>
        7. Articulate clearly. Have enough pauses in between sentences.
    </p>
    <br />
    <p>
        8. Express your eagerness to learn new things.
    </p>
    <br />
    <p>
        9. Express your willingness to adapt to challenging things.
    </p>
    <br />
    <p>
        10. Never Panic.
    </p>
    <br />
    <p>
        11. It is OK to say "I DON'T KNOW"
    </p>
    <br />
    <p>
        12. Be confident and always express the urge to excel in the job
    </p>
    <br />
    <p>
        13. Be prepared to ask the right question to the Interviewer whenever you get a chance.
    </p>
    <br />
    <p>
        14. Thank the Interviewer while leaving the room
    </p>
</div>
